@charset "UTF-8";
@import '../../general/article';

.jm-rte {
    position: relative;
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #e7eaf1;

    .actions {
        position: relative;
        width: 100%;
        height: auto;
        line-height: 40px;
        height: 40px;
        padding: 0 10px;
        background: #fff;
        box-sizing: border-box;
        border-bottom: 1px solid #e7eaf1;
        .action {
            display: block;
            box-sizing: border-box;
            float: left;
            position: relative;
            width: 40px;
            height: 40px;
            line-height: 40px;
            vertical-align: top;
            transition: all .1s ease;
            cursor: pointer;
            font-style: normal;
            font-size: 20px;
            line-height: 40px;
            text-align: center;
            color: #106cc8;
            font-family: "Roboto";
            font-weight: 500;
            border-bottom: 1px solid #e7eaf1;
            .icon-wrap {
                position: absolute;
                width: 24px;
                height: 24px;
                overflow: hidden;
                left: 8px;
                top: 8px;
                .icon {
                    position: absolute;
                    display: block;
                    width: 24px;
                    height: 24px;
                    top: -24px;
                    left: 0;
                    filter: drop-shadow(#106cc8 0 24px);
                    border-bottom: 24px solid transparent;
                    background: center no-repeat;
                    background-size: 24px 24px;
                }
            }
            .jm-tooltip {
                top: 35px;
                text-transform: capitalize;
                width: auto !important;
                white-space: nowrap;
                transform: scale(0) translateX(-50%);
                padding: 0 8px;
                &.show {
                    transform: scale(1) translateX(-50%);
                }
                &.to-show-at-top {
                    margin-left: 0;
                    transform-origin: 0 100% !important;
                }
            }
            sub {
                font-size: small;
            }
            &:hover {
                background: #f6f7f8;
            }
            &[data-action-abbr="b"] .icon {
                background-image: url("../_images/rte/ic_format_bold.png");
            }
            &[data-action-abbr="i"] .icon {
                background-image: url("../_images/rte/ic_format_italic.png");
            }
            &[data-action-abbr="u"] .icon {
                background-image: url("../_images/rte/ic_format_underlined.png");
            }
            &[data-action-abbr="s"] .icon {
                background-image: url("../_images/rte/ic_strikethrough_s.png");
            }
            &[data-action-abbr="p"] .icon,
            &[data-action-abbr="h"] .icon {
                // IDEA: jm icons里没有合适的，故用字符代替
                user-select: none;
            }
            &[data-action-abbr="p"] {
                font-size: 22px;
            }
            &[data-action-abbr="q"] .icon {
                background-image: url("../_images/rte/ic_format_quote.png");
            }
            &[data-action-abbr="ol"] .icon {
                background-image: url("../_images/rte/ic_format_list_bulleted.png");
            }
            &[data-action-abbr="ul"] .icon {
                background-image: url("../_images/rte/ic_format_list_numbered.png");
            }
            &[data-action-abbr="code"] .icon {
                background-image: url("../_images/rte/ic_code.png");
            }
            &[data-action-abbr="hr"] .icon {
                background-image: url("../_images/rte/ic_remove.png");
            }
            &[data-action-abbr="link"] .icon {
                background-image: url("../_images/rte/ic_insert_link.png");
            }
            &[data-action-abbr="image"] .icon {
                background-image: url("../_images/rte/ic_insert_photo.png");
            }
            &[data-action-abbr="undo"] .icon {
                background-image: url("../_images/rte/ic_undo.png");
            }
            &[data-action-abbr="redo"] .icon {
                background-image: url("../_images/rte/ic_redo.png");
            }
            &[data-action-abbr="clear"] .icon {
                background-image: url("../_images/rte/ic_format_clear.png");
            }
        }
        .separator {
            display: block;
            float: left;
            position: relative;
            height: 40px;
            width: 1px;
            background-color: #e7eaf1;
        }
    }

    .jm-edit-area {
        clear: both;
        position: relative;
        min-height: 15em;
        margin: 15px 15px 25px;
        background: #fff;
        font-size: 16px;
        line-height: 24px;
        box-sizing: border-box;
        color: rgb(51, 51, 51);
        padding-bottom: 10px;
        transition: color .4s cubic-bezier(0.25, 0.8, 0.25, 1);
        &:after,
        &:before {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            bottom: 4px;
            transition: all .4s cubic-bezier(0.25, 0.8, 0.25, 1);
            background-color: rgb(16, 108, 200);
        }
        &:after {
            right: 50%;
        }
        &:before {
            left: 50%;
        }
        // 获得焦点时
        &:focus {
            &:after,
            &:before {
                width: calc(50%);
            }
        }
    }

    // 字数统计
    .char-counter {
        position: absolute;
        font-size: 12px;
        line-height: 14px;
        color: rgba(#000, .54);
        bottom: 8px;
        right: 15px;
        transition: all .4s cubic-bezier(0.25, 0.8, 0.25, 1);
        user-select: none;
        cursor: default;
        .current {
            margin-right: .5em;
        }
        .maximum {
            margin-left: .5em;
        }
    }

    // 字符超限
    &.exceeded {
        .char-counter {
            color: rgb(221, 44, 0) !important;
        }
        .jm-edit-area {
            color: rgb(221, 44, 0) !important;
            &:after,
            &:before {
                width: calc(50%) !important;
                background: rgb(221, 44, 0) !important;
            }
        }
    }
}

.jm-rte-file-input {
    display: none;
}