.jm-button.android .icon {
    background: url("./_images/ic_android.png") no-repeat 0 0;
}
.jm-button.edit .icon {
    background: url("./_images/ic_edit.png") no-repeat 0 0;
}
.jm-button.logout .icon {
    background: url("./_images/ic_logout.png") no-repeat 0 0;
}
.jm-button.comment .icon {
    background: url("./_images/ic_comment.png") no-repeat 0 0;
}
.jm-input.cell,
.jm-input.email {
    display: block;
}
.jm-bg {
    position: relative;
    height: 300px;
    /*margin-right: 10px;*/
    flex-grow: 1;
}
.jm-bg:nth-child(1) {
    /*margin-left: 10px;*/

}
.jm-bg:nth-child(2) {

}
@media (max-width: 1000px) {
    .jm-bg:nth-child(3) {
        flex-grow: 0;
    }
}
@media (max-width: 1800px) {
    .jm-bg:nth-child(4) {
        flex-grow: 0;
    }
}