@charset "UTF-8";

.jm-bg-wrap {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1 !important;
    background-color: #3F51B5;

    .jm-bg-block {
        position: absolute;
        height: 300%;
        width: 30%;
        background-color: #303F9F;
        transform: rotate(7deg);
        top: -100%;
        z-index: 1 !important;

        &.jm-shadow-light {
          box-shadow: 0 10px 20px rgba(0, 0, 0, .19),
                      0 6px 6px rgba(0, 0, 0, .23);
        }

        &.jm-shadow-strong {
          box-shadow: 0 19px 38px rgba(0, 0, 0, .30),
                      0 15px 12px rgba(0, 0, 0, .22);
        }

    }

}