@charset "UTF-8";
@import "./_mixins";
@import "./md-input";
@import "./md-tag";
@import "./md-textarea";
@import "./md-button";
@import "./md-background";
@import "./md-modal";
@import "./login-snackbar";
@import "./md-radio";
@import "./md-rte";

/*
fonts - Roboto 和 Roboto Mono 的400、400i和500，共六套字体
*/
@font-face {
    font-family: "Roboto";
    src: url("../../_fonts/Roboto/Roboto-400.ttf");
}
@font-face {
    font-family: "Roboto Italic";
    src: url("../../_fonts/Roboto/Roboto-400i.ttf");
}
@font-face {
    font-family: "Roboto Medium";
    src: url("../../_fonts/Roboto/Roboto-500.ttf");
}
@font-face {
    font-family: "Roboto Mono";
    src: url("../../_fonts/RobotoMono/RobotoMono-400.ttf");
}
@font-face {
    font-family: "Roboto Mono Italic";
    src: url("../../_fonts/RobotoMono/RobotoMono-400i.ttf");
}
@font-face {
    font-family: "Roboto Mono Medium";
    src: url("../../_fonts/RobotoMono/RobotoMono-500.ttf");
}

/*
general
*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
}
a {
    text-decoration: none;
    color: #000;
}
ul, ol {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
html {
    height: 100%;
    min-height: 750px;
}
body {
    position: relative;
    height: 100%;
    font-family: "Roboto Mono", "Helvetica Neue",
                 "PingFang SC", "Microsoft YaHei",
                 "微软雅黑", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    &.no-scroll {
        overflow: hidden;
    }
}
.main-wrap {
    position: relative;
    width: 100%;
    min-height: 100%;
    margin-top: 256px;
    background: #fafafa;
    z-index: 99;
    animation: wrapPopIn .5s;
    @keyframes wrapPopIn {
        from {
            opacity: 0;
            transform: translateY(50px);
        }
        to {
            opacity: 1;
            transition: translateY(0);
        }
    }
}

.main {
    position: relative;
    @include mds-responsive-wrap;
    min-height: 100%;
    z-index: 99;
}

.controll-panel {
    display: none;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 199;
    > li {
        display: block;
        animation: zoomIn .4s ease;
        &.zoom-out {
            display: none;
            animation: zoomIn .4s ease reverse;
        }
    }
    ._logout .icon {
        background: url("../../_images/ic_logout.png") no-repeat;
        filter: drop-shadow(#fff 0 24px);
    }
    ._create-new .icon {
        background: url("../../_images/ic_create.png") no-repeat;
        filter: drop-shadow(#fff 0 24px);
    }
    ._edit .icon {
        background: url("../../_images/ic_edit.png") no-repeat;
        filter: drop-shadow(#fff 0 24px);
    }
    ._to-top .icon {
        background: url("../../_images/ic_arrow_up.png") no-repeat;
        filter: drop-shadow(#fff 0 24px);
    }
    @keyframes zoomIn {
        from {
            display: none;
            transform: scale(0);
        }
        to {
            display: block;
            transform: scale(1);
        }
    }

}