@charset "UTF-8";

/**
模仿 Google Design 好看的头部
主体宽度参照 bootstrap 栅格容器
https://github.com/youknowznm/google-design-site-header
@author youknowznm
*/

@import "../_general";
@import "./_reset";
@import "./_themes";
@import "./_ripple";
@import "./_indicator";

/*
z-index

100 .md-header; .md-header-shadow;
101 .current-title;
102 .md-header-content; nav;
103 .ripple;
104 .nav-indicator;
*/

.md-header {
    position: fixed;
    overflow: hidden;
    width: 100%;
    top: 0;
    background-color: nth($md-header-colors, 1);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    z-index: 100;
    transition: all .3s cubic-bezier(0.25, 0.8, 0.25, 1);
    li, a {
        color: map-get($gen-colors, white);
    }
}
.md-header-content {
    @include mds-responsive-wrap;
    margin: 0 auto;
    overflow: hidden;
    z-index: 102;
    > nav {
        position: relative;
        width: 100%;
        height: 64px;
        line-height: 64px;
        transition: background-color .3s cubic-bezier(0.25, 0.8, 0.25, 1);
        z-index: 102;
        .site-title {
            display: inline-block;
            font-size: 20px;
            line-height: 64px;
            height: 64px;
            padding-left: 20px;
        }
    }
    .nav-items {
        // TODO 桌面端没问题 注意移动端的宽度修改要求
        position: relative;
        float: right;
        font-size: 14px;
        white-space: nowrap;
        // 字符间距
        letter-spacing: .25px;
        font-family: "Roboto Mono Medium";
        // 限制最大宽高
        max-height: 64px;
        max-width: 500px;
        overflow-y: hidden;
        animation: fadeIn 1s cubic-bezier(0.25, 0.8, 0.25, 1);
        .nav-item {
            float: left;
            z-index: 102;
            padding: 27px 12px 21px;
            line-height: 1;
            border-bottom: 2px solid transparent;
            transition: all .4s cubic-bezier(0.25, 0.8, 0.25, 1);
            cursor: pointer;
            text-transform: uppercase;
            // 透明，初始化时渐显
            opacity: 0;
            &.active {
                border-color: map-get($gen-colors, white);
            }
            &.clicking,
            &:not(.active):hover {
                border-color: map-get($gen-colors, translucent-white);
            }
        }
        &.show .nav-item {
            opacity: 1;
        }
    }
    .banner {
        width: 100%;
        height: 192px;
        .page-title {
            position: absolute;
            display: block;
            bottom: 80px;
            color: map-get($gen-colors, white);
            height: 56px;
            padding-left: 20px;
            font-size: 56px;
            font-weight: 300;
            line-height: 56px;
            text-transform: capitalize;
            animation: popIn .8s cubic-bezier(0.25, 0.8, 0.25, 1);
            transition: opacity .4s cubic-bezier(0.25, 0.8, 0.25, 1);
            z-index: 101;
            &.hidden {
                opacity: 0;
            }
        }
    }
}
.md-header-shadow {
    position: fixed;
    width: 100%;
    top: 256px;
    height: 12px;
    z-index: 100;
    background: url('../_images/md-header-shadow.png') repeat-x;
    background-size: 1px 12px;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes popIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

// md风格的span伪元素
.single-word {
    float: left;
    &::after {
        content: '·';
        opacity: .4;
    }
    &:last-of-type:after {
        content: '¬';
    }
}
