@charset "UTF-8";
/*
font
*/
@font-face {
    font-family: 'Roboto Mono';
    src: url("../static/font/RobotoMono-regular.ttf");
}
/*
colors
*/
$gds-header-colors: (
    rgb(234, 67, 53), //red
    rgb(251, 188, 5), //yellow
    rgb(66, 133, 244), //blue
    rgb(52, 168, 83), //green
    rgb(60, 90, 100), //gray
    rgb(241, 243, 244), //silver
);
$gen-colors: (
    translucent-4: rgba(#fff, .4),
    translucent: rgba(#fff, .5),
    // element ui
    dark-blue: #1D8CE0,
    light-blue: #58B7FF,
    blue: #20A0FF,
    green: #13CE66,
    yellow: #F7BA2A,
    red: #FF4949,
    black: #1F2D3D,
    light-black: #324057,
    extra-light-black: #475669,
    silver: #8492A6,
    light-silver: #99A9BF,
    extra-light-silver: #C0CCDA,
    gray: #D3DCE6,
    light-gray: #E5E9F2,
    extra-light-gray: #EFF2F7,
    white: rgb(255, 255, 255),
    dark-white: #F9FAFC,
);
/*
general
*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
}
a {
    text-decoration: none;
}
ul, ol {
    list-style: none;
}
html,
body {
    font-family: "Roboto Mono", "Helvetica Neue",
                 "PingFang SC", "Microsoft YaHei",
                 "微软雅黑", Arial, sans-serif;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}
body {
    position: relative;
    height: 5000px;
}
