@charset "UTF-8";

/**
模仿 Google Design 好看的头部
主体宽度参照 bootstrap 栅格容器
https://github.com/youknowznm/google-design-site-header
@author youknowznm
*/

@import "./_general";
@import "./_reset";
@import "./_themes";
@import "./_ripple";
@import "./_indicator";

/*
z-index

100 .gds-header; .gds-header-shadow;
101 .current-title;
102 .gds-header-content; nav;
103 .ripple;
104 .nav-indicator;
*/

.gds-header {
    position: fixed;
    overflow: hidden;
    width: 100%;
    top: 0;
    background-color: nth($gds-header-colors, 1);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    z-index: 100;
    transition: all .3s;
    li, a {
        color: map-get($gen-colors, white);
    }
}
.gds-header-content {
    @include gds-responsive-wrap;
    margin: 0 auto;
    overflow: hidden;
    z-index: 102;
    > nav {
        position: relative;
        width: 100%;
        height: 64px;
        line-height: 64px;
        transition: background-color .3s;
        z-index: 102;
        .site-title {
            display: inline-block;
            font-size: 20px;
            line-height: 64px;
            height: 64px;
            padding-left: 20px;
            .single-word {
                float: left;
                &::after {
                    content: '·';
                    opacity: .4;
                }
                &:last-of-type:after {
                    content: '¬';
                }
            }
        }
    }
    .nav-items {
        position: relative;
        float: right;
        font-size: 14px;
        white-space: nowrap;
        // 字符间距
        letter-spacing: .25px;
        font-weight: 700;
        // 限制最大宽高
        max-height: 64px;
        max-width: 500px;
        overflow-y: hidden;
        animation: fadeIn 1s;
        .nav-item {
            float: left;
            z-index: 102;
            padding: 27px 12px 21px;
            line-height: 1;
            border-bottom: 2px solid transparent;
            transition: all .2s;
            cursor: pointer;
            text-transform: uppercase;
            &.active {
                border-color: map-get($gen-colors, white);
            }
            &.clicking,
            &:not(.active):hover {
                border-color: map-get($gen-colors, translucent-white);
            }
        }
    }
    .banner {
        width: 100%;
        height: 192px;
        .page-title {
            position: absolute;
            bottom: 80px;
            display: block;
            color: map-get($gen-colors, white);
            height: 56px;
            padding-left: 20px;
            font-size: 56px;
            font-weight: 300;
            line-height: 56px;
            text-transform: capitalize;
            animation: popIn .8s;
            transition: opacity .4s;
            z-index: 101;
            &.hidden {
                opacity: 0;
            }
        }
    }
}
.gds-header-shadow {
    position: relative;
    width: 100%;
    margin-top: 256px;
    top: 0;
    height: 12px;
    z-index: 100;
    background: url('../static/image/gds-header-shadow.png') repeat-x;
    background-size: 1px 12px;
    &.fixed {
        position: fixed;
        top: 64px;
        margin-top: 0;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes popIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
