@charset "UTF-8";
/*
font
*/
@font-face {
    font-family: 'Roboto Mono';
    src: url("../static/font/RobotoMono-regular.ttf");
}
/*
colors
*/
$gds-header-gen-colors: (
    rgb(234, 67, 53), //red
    rgb(251, 188, 5), //yellow
    rgb(66, 133, 244), //blue
    rgb(52, 168, 83), //green
    rgb(60, 90, 100), //gray
);
$gds-header-search-color: rgb(241, 243, 244);
$gen-colors: (
    white: rgb(255, 255, 255),
    translucent: rgba(255, 255, 255, .4),
);
/*
general
*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
}
a {
    text-decoration: none;
}
ul, ol {
    list-style: none;
}
html,
body {
    font-family: "Roboto Mono", "Helvetica Neue",
                 "PingFang SC", "Microsoft YaHei",
                 "微软雅黑", Arial, sans-serif;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}
/*
google-design-site-header
*/
#gds-header {
    position: relative;
    // 起始页面 header 为蓝色（五个颜色中的第三个）
    background-color: nth($gds-header-gen-colors, 3);
    // box-shadow: 10px 10px 0 0 map-get($gen-colors, translucent);
}
#gds-header-content {
    // TODO
    width: 1280px;
    margin: 0 auto;
    * {
        // 除了搜索以外的颜色为白色
        color: #fff;
    }

    > nav {
        width: 100%;
        height: 64px;
        line-height: 64px;
        .current-title {
            display: inline-block;
            padding: 20px;
            font-size: 20px;
            line-height: 20px;
            .single-word {
                float: left;
                &::after {
                    content: '·';
                    opacity: .4;
                }
                &:last-of-type:after {
                    content: '¬';
                }
            }
        }
    }

    .nav-items {
        position: relative;
        float: right;
        font-size: 14px;
        // 字符间距
        letter-spacing: .25px;
        font-weight: 700;
        > li {
            display: inline-block;
        }
        .nav-anchor {
            padding: 20px 12px 21px;
            line-height: 1;
            border-bottom: 2px solid transparent;
            transition: all .2s;
            &:hover {
                border-color: map-get($gen-colors, white);
            }
        }
    }

    .wave-layer {
        width: 100%;
        height: 192px;
    }

    .ripple {
        position: absolute;
        border-radius: 50%;
        background-color: map-get($gen-colors, translucent);
        transition: 1s ease-out;
        overflow: hidden;
        &.min {
            width: 0;
            height: 0;
        }
        &.max {
            width: 100px;
            height: 100px;
        }
    }


}
