@import "./_general";
@import "./_ripple";
@import "./_indicator";

/*
z-index

1 #gds-header-content;
2 #ripple;
3 #nav-indicator;
*/

#gds-header {
    position: fixed;
    width: 100%;
    top: 0;
    // 起始页面 header 为蓝色（五个颜色中的第三个）
    background-color: nth($gds-header-colors, 3);
    overflow: hidden;
    box-shadow: 0 0 6px 6px map-get($gen-colors, light-silver);
    transition: all .2s;
    li, a {
        color: map-get($gen-colors, white);
    }
    &[data-theme=red] {
        background-color: nth($gds-header-colors, 1);
    }
    &[data-theme=yellow] {
        background-color: nth($gds-header-colors, 2);
    }
    &[data-theme=blue] {
        background-color: nth($gds-header-colors, 3);
    }
    &[data-theme=green] {
        background-color: nth($gds-header-colors, 4);
    }
    &[data-theme=gray] {
        background-color: nth($gds-header-colors, 5);
    }
    &[data-theme=silver] {
        background-color: nth($gds-header-colors, 6);
    }
    &[data-theme=red],
    &[data-theme=blue],
    &[data-theme=green],
    &[data-theme=gray] {
        li, a {
            color: map-get($gen-colors, white);
        }
        .nav-item {
            &.active {
                border-color: map-get($gen-colors, white);
            }
            &.clicking,
            &:not(.active):hover {
                border-color: map-get($gen-colors, translucent-white);
            }
        }
        #nav-indicator {
            background-color: map-get($gen-colors, white);
        }
    }
    &[data-theme=silver],
    &[data-theme=yellow] {
        li, a {
            color: map-get($gen-colors, black) !important;
        }
        .nav-item {
            &.active {
                border-color: map-get($gen-colors, black) !important;
            }
            &.clicking,
            &:not(.active):hover {
                border-color: map-get($gen-colors, translucent-black) !important;
            }
        }
        #nav-indicator {
            background-color: map-get($gen-colors, black) !important;
        }
    }
}

#gds-header-content {
    // TODO
    width: 1280px;
    margin: 0 auto;
    overflow: hidden;
    z-index: 1;
    > nav {
        position: relative;
        width: 100%;
        height: 64px;
        line-height: 64px;
        .current-title {
            display: inline-block;
            padding: 20px;
            font-size: 20px;
            line-height: 20px;
            .single-word {
                float: left;
                &::after {
                    content: '·';
                    opacity: .4;
                }
                &:last-of-type:after {
                    content: '¬';
                }
            }
        }
    }
    .nav-items {
        position: relative;
        float: right;
        font-size: 14px;
        // 字符间距
        letter-spacing: .25px;
        font-weight: 700;
        .nav-item {
            display: inline-block;
            float: left;
            z-index: 2;
            padding: 27px 12px 21px;
            line-height: 1;
            border-bottom: 2px solid transparent;
            transition: all .2s;
            cursor: pointer;
            text-transform: uppercase;
            &.active {
                border-color: map-get($gen-colors, white);
            }
            &.clicking,
            &:not(.active):hover {
                border-color: map-get($gen-colors, translucent-white);
            }
        }
    }
    .ripple-layer {
        width: 100%;
        height: 192px;
    }
}
