@charset "UTF-8";

// 全局文章样式
// 用于编辑器和文章详情页
// 参考 material design components 的规范
// https://material.io/components/web/catalog/typography/

.jm-article {
    text-align: left;
    font-family: "Roboto";
    font-size: 14px !important;
    line-height: 20px !important;
    color: rgb(33, 23, 11);
    b {

    }
    i {

    }
    u {
        text-decoration: none;
        border-bottom: .15em solid rgb(33, 23, 11);
        padding-bottom: .15em;
    }
    strike {
        text-decoration: strike-through;
    }
    code {
        background-color: rgba(0, 0, 0, .1);
        font-family: "Roboto Mono";
        margin: 0 .3em;
        padding: 0 .3em;
    }
    h1 {
        font-family: "Roboto Mono";
        font-size: 24px;
        line-height: 32px;
        color: rgb(33, 23, 11);
        margin: 24px 0;
        border-bottom: 1px solid #ccc;
        padding-bottom: 6px;
        // &:after {
        //     opacity: .4;
        //     content: '¬';
        // }
    }
    div,
    p {
        font-family: "Roboto";
        color: rgb(33, 23, 11);
        font-size: 14px;
        line-height: 20px;
        margin: 4px 0 16px;
    }
    blockquote {
        border-left: 4px solid rgb(207, 216, 230);
        padding-left: 10px;
        box-sizing: border-box;
        font-family: "Roboto";
        color: rgb(107, 122, 140);
        font-size: 14px;
        line-height: 20px;
        margin: 4px 0 16px;
    }
    pre {
        width: auto;
        color: #000;
        font-family: 'Roboto Mono';
        font-size: 12px;
        line-height: 20px;
        background-color: rgb(242, 242, 242);
        padding: 8px 12px;
        margin-bottom: 30px;
        overflow-x: auto;
    }
    li {
        font-size: 14px;
        font-family: "Roboto";
    }
    ul {
        padding-left: 18px;
        box-sizing: border-box;
        li {
            list-style-type: disc;
        }
    }
    ol {
        padding-left: 18px;
        box-sizing: border-box;
        li {
            list-style-type: decimal;
        }
    }
    a {
        color: #039be5;
        border-bottom: .15em solid #039be5;
        padding-bottom: .15em;
    }
    img {
        display: block;
        margin: 30px auto;
    }
}