@charset "UTF-8";

// 全局文章样式
// 用于编辑器和文章详情页
// 参考 material design components 的规范
// https://material.io/components/web/catalog/typography/

.jm-article {
    text-align: left;
    font-family: "Roboto";
    color: rgba(0, 0, 0, .87);
    font-size: 14px;
    line-height: 20px;
    margin: 4px 0 16px;
    p {
        font-family: "Roboto";
        color: rgba(0, 0, 0, .87);
        font-size: 14px;
        line-height: 20px;
        margin: 4px 0 16px;
    }
    h1 {
        font-family: "Roboto Mono";
        font-size: 24px;
        line-height: 32px;
        color: rgba(0, 0, 0, .87);
        margin: 24px 0;
        // &:after {
        //     opacity: .4;
        //     content: '¬';
        // }
    }
    b {
        font-weight: 500;
    }
    blockquote {
        border-left: 4px solid rgb(207, 216, 230);
        padding-left: 10px;
        box-sizing: border-box;
        font-family: "Roboto";
        color: rgb(107, 122, 140);
        font-size: 14px;
        line-height: 20px;
        margin: 4px 0 16px;
    }

    li {
        margin: 8px 0;
        list-style-position: outside;
    }
    ul {
        padding-left: 40px;
        li {
            list-style-type: disc;
        }
    }
    ol {
        padding-left: 40px;
        li {
            list-style-type: decimal;
        }
    }
    li ol > li {
        list-style-type: lower-alpha;
    }
    li ul > li {
        list-style-type: circle;
    }
    a {
        color: #039be5;
    }
    code {
        color: #37474f;
        font-family: 'Roboto Mono';
        font-size: 14px;
        line-height: 14px;
        background-color: #f7f7f7;
        padding: 0 4px;
    }
    pre {
        display: block;
        padding: 8px;
        margin: 16px 0;
        background-color: #f7f7f7;
        overflow-x: auto;
        code {
            font-weight: normal;
        }
    }
    img {
        display: block;
    }
}