body#mobile {
    // .jm-main {
    //     min-width: 0 !important;
    //     width: 100%;
    // }
    overflow-x: hidden;

    .jm-header {
        .jm-nav {
            height: auto;
            line-height: 50px;
        }
        .site-title {
            display: block;
            height: 50px;
            line-height: 50px;
            padding-left: 17px;
        }
        .nav-buttons {
            position: relative;
            line-height: 50px;
            white-space: normal;
            margin-left: 7px;
        }
        .nav-button {
            height: 50px;
            line-height: 50px;
        }
        .banner {
            display: none;
        }
    }

}