@charset "UTF-8";

$jm-button-primary: rgb(16, 108, 200);
$jm-button-warn: rgb(255, 82, 82);

/*
***** 常规 ****
*/
.jm-button {
    display: inline-block;
    position: relative;
    margin: 16px 8px;
    padding: 0 6px;
    min-width: 76px;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    border-radius: 2px;
    border: 0 solid rgb(33, 33, 33);
    color: rgb(33, 33, 33);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    background-color: #fff;
    letter-spacing: .01em;
    user-select: none;
    transition: all .4s cubic-bezier(0.25, 0.8, 0.25, 1);
    z-index: 90;

    .content {
        font-family: "Roboto Medium";
        font-size: 14px;
    }

    .ripple-container {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: transparent;
        transition: all .55s cubic-bezier(0.25, 0.8, 0.25, 1);
        overflow: hidden;

        .ripple {
            display: none;
            position: absolute;
            width: 0;
            height: 0;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, .15);
            border-radius: 50%;
            transition: all .55s cubic-bezier(0.25, 0.8, 0.25, 1);
        }

    }

    &.mousedown {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .4);
        .ripple-container {
            background-color: rgba(33, 33, 33, .05);
        }
        .ripple {
            display: block;
            animation: rippling .55s cubic-bezier(0.25, 0.8, 0.25, 1);
        }
        @keyframes rippling {
            0% {
                transform: scale(.5);
                opacity: 0;
            }
            100% {
                transform: scale(1);
                opacity: 1;
            }
        }
    }

    &.mouseup {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
        .ripple-container {
            animation: _container .55s cubic-bezier(0.25, 0.8, 0.25, 1);
        }
        .ripple {
            display: none;
            animation: _ripple .55s cubic-bezier(0.25, 0.8, 0.25, 1);
        }
        @keyframes _container {
            0% {
                background-color: rgba(33, 33, 33, .05);
            }
            100% {
                background-color: transparent;
            }
        }
        @keyframes _ripple {
            0% {
                display: block;
                opacity: 1;
            }
            100% {
                display: none;
                opacity: 0;
            }
        }
    }

    &:hover {
        background-color: rgba(#fff, .7);
    }

    // 常规 - 小尺寸
    &.small {
        height: 30px !important;
        line-height: 30px !important;
        font-size: 13px !important;
    }

}

// 主要、禁用、警告三种状态
.jm-button._primary {
    background-color: $jm-button-primary;
    color: #fff;
    &:hover {
        background-color: rgb(7, 96, 176);
    }
}
.jm-button._warn {
    background-color: $jm-button-warn;
    color: #fff;
    &:hover {
        background-color: rgb(213, 0, 0);
    }
}
.jm-button._disabled {
    background-color: rgba(0, 0, 0, .12) !important;
    color: rgba(0, 0, 0, .38) !important;
    box-shadow: none !important;
    cursor: default !important;
}


/*
***** 圆形 ****
*/

.jm-button._round {
    width: 56px;
    min-width: 0;
    height: 56px;
    line-height: 56px;
    padding: 0;
    border-radius: 50%;

    .icon-wrap {
        position: relative;
        display: inline-block;
        width: 24px;
        line-height: 24px;
        height: 24px;
        vertical-align: middle;
        overflow: hidden;
        .icon {
            position: absolute;
            display: block;
            width: 24px;
            height: 24px;
            top: -24px;
            left: 0;
            /*
            http://www.zhangxinxu.com/wordpress/2016/06/png-icon-change-color-by-css/
            Chrome下如果元素的主体部分【完全】不可见，则其drop-shadow不可见；
            只要元素有【任何】部分可见，则其drop-shadow完全可见。
            */
            // filter: drop-shadow($jm-button-primary 0 24px);
            border-bottom: 24px solid transparent;
        }
    }

    .ripple-container {
        border-radius: 50%;
    }

    &._small {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}

/*
***** 扁平 ****
*/

.jm-button._flat {
    box-shadow: none;
    background-color: transparent;
    color: rgba(#000, .87);
    &:hover {
        background-color: rgba(158, 158, 158, .2);
    }
    &._primary {
        color: $jm-button-primary;
        &.mousedown .ripple {
            background-color: rgba(16, 108, 200, .1) !important;
        }
    }

    &._warn {
        color: $jm-button-warn;
        &.mousedown .ripple {
            background-color: rgba(255, 82, 82, .1);
        }
    }
    &._disabled {
        cursor: default !important;
        color: rgba(#000, .38) !important;
        &:hover,
        &.mousedown .ripple {
            background-color: transparent !important;
        }
    }
}

/*
***** 图标按钮 ****
*/

.jm-button.jm-icon-button {
    position: relative;
    width: 40px;
    min-width: 0;
    height: 40px;
    line-height: 40px;
    margin: 16px 8px;
    padding: 0;
    border-radius: 50%;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    z-index: 90;

    .icon-wrap {
        position: relative;
        display: inline-block;
        width: 24px;
        line-height: 24px;
        height: 24px;
        vertical-align: middle;
        overflow: hidden;
        .icon {
            position: absolute;
            display: block;
            width: 24px;
            height: 24px;
            top: -24px;
            left: 0;
            filter: drop-shadow(rgba(#000, .54) 0 24px);
            /*
            http://www.zhangxinxu.com/wordpress/2016/06/png-icon-change-color-by-css/
            Chrome下如果元素的主体部分【完全】不可见，则其drop-shadow不可见；
            只要元素有【任何】部分可见，则其drop-shadow完全可见。
            */
            border-bottom: 24px solid transparent;
        }
    }

    .ripple-container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: transparent;
        .ripple {
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            width: 100%;
            height: 100%;
            margin-left: -20px;
            margin-top: -20px;
            transform: scale(0);
            background-color: transparent;
            transition: all .3s cubic-bezier(0.25, 0.8, 0.25, 1);
        }
    }

    &.mousedown {
        .ripple {
            background-color: rgba(#000, .1);
            transform: scale(1);
        }
    }

    &.mouseup {
        .ripple {
            background-color: transparent;
            transform: scale(1);
        }
    }
    // 不同状态
    &._primary {
        .icon {
            filter: drop-shadow($jm-button-primary 0 24px);
        }
        &.mousedown .ripple {
            background-color: rgba(16, 108, 200, .2);
        }
    }
    &._warn {
        .icon {
            filter: drop-shadow($jm-button-warn 0 24px);
        }
        &.mousedown .ripple {
            background-color: rgba(255, 82, 82, .2);
        }
    }
    &._disabled {
        cursor: default !important;
        .icon {
            filter: drop-shadow(rgba(#000, .38) 0 24px) !important;
        }
        &:hover,
        &.mousedown .ripple {
            background-color: transparent !important;
        }
    }
}

/*
***** 提示条 ****
*/
.jm-tooltip {
    display: block;
    position: absolute;
    width: 58px;
    top: 50%;
    left: 50%;
    color: rgba(#fff, .87);
    background: rgb(97, 97, 97);
    border-radius: 4px;
    line-height: 22px;
    height: 22px;
    font-size: 12px;
    padding: 0 4px;
    text-align: center;
    overflow: hidden;
    z-index: 89;
    transition: all 0.15s cubic-bezier(0.25, 0.8, 0.25, 1);
    text-transform: capitalize;
    transform: scale(0);
    font-weight: 500;
    transition-delay: 0;
    &.show {
        transform: scale(1);
        transition-delay: .3s;
        opacity: .9;
    }
    &.to-show-at-top {
        margin-left: -33px;
        margin-top: -63px;
        transform-origin: bottom;
    }
    &.to-show-at-right {
        margin-left: 42px;
        margin-top: -9px;
        transform-origin: left;
    }
    &.to-show-at-bottom {
        margin-left: -33px;
        margin-top: 38px;
        transform-origin: top;
    }
    &.to-show-at-left {
        margin-left: -105px;
        margin-top: -11px;
        transform-origin: right;
    }

}
