@charset "UTF-8";

.md-input {
    position: relative;
    display: block;
    padding: 0 6px;
    box-sizing: border-box;
    min-width: 172px;
    margin: 18px 0;
    .placeholder {
        position: absolute;
        cursor: text;
        color: rgba(#000, .54);
        top: 8px;
        left: 6px;
        transition: all .4s cubic-bezier(0.25, 0.8, 0.25, 1);
        // IDEA: 这里如果不显式设置 transform-origin 从左侧开始，就需要针对每个元素再进行 transform: translateX() 的改变。origin 这个属性，真屌！
        transform-origin: left;
    }
    ._input {
        width: 100%;
        height: 26px;
        line-height: 26px;
        background: transparent;
        color: rgba(#000, .87);
        padding: 2px 2px 1px 2px;
        border: 0;
        border-bottom: 1px solid rgba(#000, .12);
        font-size: 16px;
    }
    .error {
        position: absolute;
        left: 6px;
        bottom: -20px;
        line-height: 14px;
        font-size: 12px;
        color: rgb(221, 44, 0); //red
        opacity: 0;
        transform: translateY(-10px);
        transition: all .4s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
    &:after,
    &:before {
        content: '';
        position: absolute;
        top: 28px;
        height: 2px;
        width: 0;
        transition: all .4s cubic-bezier(0.25, 0.8, 0.25, 1);
        background-color: rgb(16, 108, 200);
        transform: translateX(2px);
    }
    &:after {
        right: 50%;
    }
    &:before {
        left: 50%;
    }
    // 获得焦点时
    &.focused {
        .placeholder {
            transform: scale(0.8) translateY(-30px);
            color: rgb(16, 108, 200); //blue
            cursor: default;
        }
        &:after,
        &:before {
            width: calc(50% - 4px);
        }
    }
    // 非空
    &.non-empty {
        .placeholder {
            transform: scale(0.8) translateY(-30px);
            color: rgb(16, 108, 200); //blue
            cursor: default;
        }
    }
    // 输入内容未通过验证时
    &.invalid {
        .error {
            transform: translateY(0);
            opacity: 1;
        }
        .char-counter,
        .placeholder {
            color: rgb(221, 44, 0) !important; //red
        }
        ._input {
            border-bottom-color: rgb(221, 44, 0) !important; //red
        }
        &:after,
        &:before {
            background-color: rgb(221, 44, 0) !important; //red
        }
    }
    // 字数统计
    .char-counter {
        position: absolute;
        font-size: 12px;
        line-height: 14px;
        color: rgba(#000, .54);
        top: 36px;
        right: 3px;
        font-weight: normal;
        transition: all .4s cubic-bezier(0.25, 0.8, 0.25, 1);
        user-select: none;
        cursor: default;
        .current {
            margin-right: .5em;
        }
        .maximum {
            margin-left: .5em;
        }
    }
    // 深色主题
    &.dark {
        .placeholder {
            color: rgba(#fff, .7);
        }
        .char-counter,
        ._input {
            color: #fff;
            border-bottom-color: rgba(#fff, .12);
        }
        &:after,
        &:before {
            background-color: rgb(255, 235, 59); //yellow
        }
        &.focused {
            .placeholder {
                color: rgb(255, 235, 59); //yellow
            }
        }
    }
    // 小尺寸
    &.small {
        margin: 10px 0;
        .placeholder {
            font-size: 12px;
            line-height: 14px;

        }
        ._input {
            font-size: 12px;
            line-height: 14px;

        }
        .char-counter {
            line-height: 12px;
        }
        &.focused,
        &.non-empty {
            .placeholder {
                transform: scale(0.9) translateY(-15px);
            }
        }
    }
}